.common-navbar {
    margin-left: 100px;
}

.ul-menu {
    display: flex;
    align-items: center;

}

.li-menu a {
text-decoration: none;
    font-family: 'Elsie', cursive;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    list-style-type: none;
    margin-right: 50px;
    cursor: pointer;
}

.li-menu:hover {
    color: #EF633E;
}