.common-myRecipes {
    width: 1100px;
    height: 630px;
    color: #676a6c;
    background: radial-gradient(#f8dad0, #d9f6ef);
    font-family: 'Elsie', cursive;

}

.common-myRecipes h1 {
    font-size: 22px;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .4);
    font-weight: normal;
    padding: 20px;
    padding-left: 50px;
}