.app-common {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 98vh;
}

.content {
    max-width: 1100px;
    margin: 0 auto;

}

.footer-app {
    margin-top: auto;
}


.block-menu {
    justify-content: space-between;
}
